{% extends "base.html" %}

{% block title %} 字符画 {% end %}

{% block description %} 
    <h2 style="margin-top:0;">字符画</h2> 
    <p> </p>
{% end %}

{% block content %}
    {% if image_uuid %}
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="/image/input/{{image_uuid}}" style="max-width:100%">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <pre>
{{ ascii_code }}
                </pre>
            </div>
        </div>
        {% else %}
        <div class="panel panel-default">
            <div class="panel-body">
                {% include "upload_form.html" %}
            </div>
        </div>
    {% end %}
{% end %}
