{% extends "base.html" %}

{% block title %} 颜值评分 {% end %}

{% block description %} 
    <h2 style="margin-top:0;">颜值AI评分</h2> 
    <p> 显示输入图片的<a href="https://github.com/ustcqidi/BeautyPredict">BeautyPredict</a>、
        <a href="https://github.com/pwfee/FaceRank">FaceRank</a>、
        <a href="https://cloud.baidu.com/doc/FACE/s/ek37c1qiz">Baidu AIP</a>、
        <a href="https://console.faceplusplus.com.cn/documents/4888373">旷视</a>的评分； 并显示dlib landmark、OpenCV人脸检测的效果
    </p>
    <p> 关键词： AI颜值、人脸检测、人脸关键点 </p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">dlib landmark图</div>
        <div class="panel-body">
            <img src="/image/land_mark/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">OpenCV人脸检测结果图</div>
        <div class="panel-body">
            <img src="/image/face_box/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">FaceNet 人脸检测结果图</div>
        <div class="panel-body">
            <img src="/image/face_net/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>模型</th>
                        <th>分数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>BeautyPredict</td>
                        <td>{{ params[1] }}</td>
                    </tr>
                    <tr>
                        <td>FaceRank</td>
                        <td>{{ params[0] }}</td>
                    </tr>
                    <tr class="success">
                        <td>百度</td>
                        <td>{{ params[2] }}</td>
                    </tr>
                    <tr class="info">
                        <td>Face++</td>
                        <td> {{ params[3] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}
{% end %}