{% extends "base.html" %}

{% block title %} 卡通化 {% end %}

{% block description %} 
    <h2 style="margin-top:0;">图片卡通化</h2> 
    <p> 基于 <a href="https://github.com/SystemErrorWang/White-box-Cartoonization">White-box-Cartoonization</a>
        实现根据输入图片生成卡通化的图片</p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/cartoon/{{image_uuid}}" style="max-width:100%">
        </div>
        <a href="/image/cartoon/{{image_uuid}}" download="{{image_uuid}}"><button type="button" class="btn btn-primary btn-sm">下载</button></a>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}

{% end %}
