{% extends "base.html" %}

{% block title %} 人脸素描 {% end %}

{% block description %} 
    <h2 style="margin-top:0;">人脸素描</h2> 
    <p> 基于<a href="https://github.com/NathanUA/U-2-Net">U-2-Net</a>模型和
        <a href="https://cg.cs.tsinghua.edu.cn/people/~Yongjin/APDrawingDB.zip">APDrawing dataset</a>训练的人脸素描模型.
        不过效果不如<a href="https://www.cvpy.net/studio/cv/func/DeepLearning/sketch/sketch/page/"></a>展示的好
    </p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-heading">输入图片</div>
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">素描结果</div>
        <div class="panel-body">
            <img src="/image/sketch/{{image_uuid}}" style="max-width:100%">
        </div>
        <a href="/image/sketch/{{image_uuid}}" download="{{image_uuid}}"><button type="button" class="btn btn-primary btn-sm">下载</button></a>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}
{% end %}
