{% extends "base.html" %}

{% block title %} AI抠图 {% end %}

{% block description %} 
    <div class="container-fluid cm-container-white">
    <h2 style="margin-top:0;">AI抠图</h2>
    <p> 基于 <a href="https://github.com/NathanUA/U-2-Net">U-2-Net</a>
        实现的AI智能抠图</p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/fore_ground/{{image_uuid}}" style="max-width:100%">
        </div>
        <a href="/image/fore_ground/{{image_uuid}}" download="{{image_uuid}}"><button type="button" class="btn btn-primary btn-sm">下载</button></a>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}
{% end %}
