{% extends "base.html" %}

{% block title %} 图片类型转换 {% end %}

{% block description %} 
    <h2 style="margin-top:0;"> 图片转换 </h2>
    <p> 输入图片，根据选择需要转换的类型生成新的图片 </p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">选择要转换成的类型</div>
        <div class="panel-body">
            <form class="form-horizontal" action="{{ request.path }}"  enctype="multipart/form-data" method="post">
                <input type="hidden" name="image_uuid" value="{{image_uuid}}" />
                <div class="form-group" style="margin-bottom:0">
                    <div class="col-sm-offset-2 col-sm-10 text-right">
                        <select  class="form-control" name="convert_type">
                            <option value="JPG">JPG</option>
                            <option value="PNG">PNG</option>
                            <option value="WEBP">WEBP</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0">
                    <div class="col-sm-offset-2 col-sm-10 text-right">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if convert_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/convert/{{convert_uuid}}" style="max-width:100%">
        </div>
        <a href="/image/convert/{{convert_uuid}}" download="{{convert_uuid}}"><button type="button" class="btn btn-primary btn-sm">下载</button></a>
    </div>
    {% end %}

    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}
{% end %}
