{% extends "base.html" %}

{% block title %} image-services {% end %}

{% block description %} 
<h2 style="margin-top:0;">Image Service</h2> 
<p>基于Python+OpenCV+深度学习的图片处理相关应用演示。</p>
{% end %}

{% block content %}
<div class="row cm-fix-height">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="cartoon.html" class="panel panel-default thumbnail cm-thumbnail">
            <div class="panel-body text-center">
                <span class="svg-48">
                    <img src="assets/img/sf/snow-flake.svg" alt="now-flake">
                </span>
                <h4>卡通</h4> <small> 生成输入图片的卡通化版本 </small>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="beauty_score.html" class="panel panel-default thumbnail cm-thumbnail">
            <div class="panel-body text-center">
                <span class="svg-48">
                    <img src="assets/img/sf/device-camera.svg" alt="device-camera">
                </span>
                <h4>AI颜值评分</h4> <small>使用深度学习模型对人脸图片进行“颜值”的评分</small>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="cert_photo.html" class="panel panel-default thumbnail cm-thumbnail">
            <div class="panel-body text-center">
                <span class="svg-48">
                    <img src="assets/img/sf/user-id.svg" alt="user-id">
                </span>
                <h4>证件照</h4> <small> 更换证件照的背景颜色 </small>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="style_transfer.html" class="panel panel-default thumbnail cm-thumbnail">
            <div class="panel-body text-center">
                <span class="svg-48">
                    <img src="assets/img/sf/file-picture.svg" alt="file-picture">
                </span>
                <h4>风格迁移</h4> <small>基于深度学习模型的图片风格迁移</small>

            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="mosaic_app.html" class="panel panel-default thumbnail cm-thumbnail">
            <div class="panel-body text-center">
                <span class="svg-48">
                    <img src="assets/img/sf/magnify-less.svg" alt="magnify-less">
                </span>
                <h4>马赛克</h4> <small>输入图片，选择区域，对选定的区域进行马赛克处理</small>
            </div>
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="roi_mark.html" class="panel panel-default thumbnail cm-thumbnail">
            <div class="panel-body text-center">
                <span class="svg-48">
                    <img src="assets/img/sf/map-marker.svg" alt="map-marker">
                </span>
                <h4>区域检测</h4> <small>根据深度学习预训练模型画出ROI区域</small>
            </div>
        </a>
    </div>
</div>

{% end %}
