{% extends "base.html" %}

{% block title %} NSFW {% end %}

{% block description %} 
    <h2 style="margin-top:0;">NSFW评分</h2>
    <p> NSFW </p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <table class="table">
                <thead>
                    <tr>
                        <th>类型</th>
                        <th>概率</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>{{ score[0][0] }}</td>
                        <td>{{ score[0][1] }}</td>
                    </tr>
                    <tr class="warning">
                        <td>{{ score[1][0] }}</td>
                        <td>{{ score[1][1] }}</td>
                    </tr>
                    <tr class="success">
                        <td>{{ score[2][0] }}</td>
                        <td>{{ score[2][1] }}</td>
                    </tr>
                    <tr class="danger">
                        <td>{{ score[3][0] }}</td>
                        <td>{{ score[3][1] }}</td>
                    </tr>
                    <tr class="info">
                        <td>{{ score[4][0] }}</td>
                        <td>{{ score[4][1] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}
{% end %}
