{% extends "base.html" %}

{% block title %} NSFW马赛克 {% end %}

{% block description %} 
    <h2 style="margin-top:0;">NSFW马赛克</h2> 
    <p> NSFW马赛克 </p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/nsfw_mosaic/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}
{% end %}
