{% extends "base.html" %}

{% block title %} ROI打码 {% end %}

{% block description %} 
    <h2 style="margin-top:0;"> ROI </h2>
    <p> 根据选择的ROI(Region of Interested)类型，对相应的区域进行马赛华化 </p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">选择需要打码的区域的类型</div>
        <div class="panel-body">
            <form class="form-horizontal" action="{{ request.path }}"  enctype="multipart/form-data" method="post">
                <input type="hidden" name="image_uuid" value="{{image_uuid}}" />
                <div class="form-group" style="margin-bottom:0">
                    <div class="col-sm-offset-2 col-sm-10 text-right">
                        <select class="form-control" name="roi_type">
                            <option value="X">X</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0">
                    <div class="col-sm-offset-2 col-sm-10 text-right">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>                    
            </form>
        </div>
    </div>
    {% if roi_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/roi_mark/{{roi_uuid}}" style="max-width:100%">
        </div>
    </div>
    {% end %}


    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}
{% end %}
