{% extends "base.html" %}

{% block title %} 风格迁移 {% end %}

{% block description %} 
    <h2 style="margin-top:0;">风格迁移</h2> 
    <p> 基于深度学习模型的风格迁移 </p>
{% end %}

{% block content %}
    {% if image_uuid %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/input/{{image_uuid}}" style="max-width:100%">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">选择图片风格</div>
        <div class="panel-body">
            <form class="form-horizontal" action="{{ request.path }}"  enctype="multipart/form-data" method="post">
                <input type="hidden" name="image_uuid" value="{{image_uuid}}" />
                <div class="form-group" style="margin-bottom:0">
                    <div class="col-sm-offset-2 col-sm-10 text-right">
                        <select class="form-control" name="style">
                            <option value="candy">candy</option>
                            <option value="feathers">feathers</option>
                            <option value="la_muse">la_muse</option>
                            <option value="mosaic">mosaic</option>
                            <option value="the_scream">the_scream</option>
                            <option value="udnie">udnie</option>
                            <option value="composition_vii">composition_vii</option>
                            <option value="la_muse2">la_muse</option>
                            <option value="starry_night">starry_night</option>
                            <option value="the_wave">the_wave</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:0">
                    <div class="col-sm-offset-2 col-sm-10 text-right">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>                    
            </form>
        </div>
    </div>

    {% if style %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/image/style/{{style_uuid}}" style="max-width:100%">
        </div>
        <a href="/image/style/{{style_uuid}}" download="{{style_uuid}}"><button type="button" class="btn btn-primary btn-sm">下载</button></a>
    </div>
    {% end %}


    {% else %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "upload_form.html" %}
        </div>
    </div>
    {% end %}
{% end %}