*
!U-2-Net
!StyleTransfer
!ROI-Mark
!NSFW-Mask
!Mosaic
!BeautyPredict
!Cartoonization
!CertPhoto
!FaceSketch
!FaceRank
!FaceDetect
!FaceCartoonization
!DeepMosaic
!DeepStyle
!NSFW
!FaceNet
!imgsvr_templates
!imgsvr_static
!*.py
