<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
    <style>
        .center-in-center {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="center-in-center">
    <form action="{{ request.path }}"  enctype="multipart/form-data" method="post">
        <input name="image_file" type="file">
        <input type="submit" value="提交" />
        {% module xsrf_form_html() %}
    </form>
</div>
</body>
</html>